app:
  name: {{ app_name }}
  version: "1.0.0"

{% if development %}
database:
  host: localhost
  port: 5432
{% endif %}

features:
{% for feature in features %}
  - {{ feature | upper }}
{% endfor %}
