# Environment config for {{ app_name }}

{% if production %}
NODE_ENV=production
{% else %}
NODE_ENV=development
{% endif %}

API_KEY={{ api_key }}

{% for var in vars %}
{{ var | upper }}={{ var }}
{% endfor %}
